@import "tailwindcss";

[data-theme="my-dark"] {
  name: "abyss";
  default: false;
  prefersdark: false;
  color-scheme: "dark";

  --color-base-100: oklch(20.768% 0.039 265.754);
  --color-base-200: oklch(19.314% 0.037 265.754);
  --color-base-300: oklch(17.86% 0.034 265.754);
  --color-base-content: oklch(84.153% 0.007 265.754);
  --color-primary: oklch(40.746% 0.25742 274.4);
  --color-primary-content: oklch(100% 0.00011 271.152);
  --color-secondary: oklch(54.363% 0.2077 258.705);
  --color-secondary-content: oklch(97% 0.014 343.198);
  --color-accent: oklch(72.36% 0.176 350.048);
  --color-accent-content: oklch(14.472% 0.035 350.048);
  --color-neutral: oklch(27.949% 0.036 260.03);
  --color-neutral-content: oklch(85.589% 0.007 260.03);
  --color-info: oklch(68.455% 0.148 237.251);
  --color-info-content: #ffffff;
  --color-success: #1dea79;
  --color-success-content: #000000;
  --color-warning: oklch(85.746% 0.17517 88.493);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(62.813% 0.25739 28.782);
  --color-error-content: oklch(100% 0.00011 271.152);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 2;
}

[data-theme="my-light"] {
  name: "forest";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #f6f8fa;
  --color-base-200: #ffffff;
  --color-base-200: #fafafa;

  --color-base-content: oklch(35% 0.144 278.697);
  --color-primary: oklch(40.746% 0.25742 274.4);
  --color-primary-content: oklch(100% 0.00011 271.152);
  --color-secondary: oklch(54.363% 0.2077 258.705);
  --color-secondary-content: oklch(97% 0.014 343.198);
  --color-accent: oklch(44% 0.011 73.639);
  --color-accent-content: oklch(98% 0.001 106.423);
  --color-neutral: oklch(51% 0.262 276.966);
  --color-neutral-content: oklch(100% 0.00011 271.152);
  --color-info: oklch(78% 0.154 211.53);
  --color-info-content: oklch(30% 0.056 229.695);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: oklch(85.746% 0.17517 88.493);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(62.813% 0.25739 28.782);
  --color-error-content: oklch(100% 0.00011 271.152);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 2;
}
